@charset "UTF-8";

body {
    background: #080607;
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
}
img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    padding-left: 0;
}

h2 {
    font-size: 4rem;
    color: #FFFFFF;
    text-align: center;
}

/* モバイル版 */
@media (max-width: 600px) {
    div.top h1 {
        font-size: 3rem;
    }
}

p {
    overflow-wrap: normal;
}

.center {
    text-align: center;
}

.grid {
    display: grid;
    justify-items: center;
    margin-top: 1px; 
    margin-bottom: 1px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    background-color: #080607;
    border-bottom: #001AFF 5px solid;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 4%;
}

/* top */
.top {
    background-image: url(../images/top.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

div.top h1 {
    font-size: 7.5rem;
    color: #FFFFFF;
    margin-top: 15rem;
    margin-left: 11%;
    text-shadow: 1px 1px 3px #FFFFFF;
}

div.top h5 a {
    color: #FFFFFF;
}

div.top nav {
    display: flex;
    font-size: 1.25rem;
    list-style: none;
}

div.top nav ul li a {
    color: #55C6FF;
}



/* domain */
#domain {
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 10px;
    margin-bottom: 10rem;
}

.domain-item {
    width: 20rem;
    height: 310px;
}

.under-line {
    line-height: 30px;
    border-bottom: solid #FFFFFF 1px ;
}

/* product */
#product {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: minmax(1rem, 3rem);
    margin-bottom: 10rem;
}

.product-item {
    width: 30rem;
    height: 310px;
    margin-right: 1px;
}

div#product div.product-item img {
    text-align: center;
    width: 500px;
    height: 310px;
    padding-bottom: 0px;
}

.explanaiton-item {
    width: 30rem;
    height: 310px;
    margin-left: 1px;
}

div#product.product.gird.wrapper div.explanaiton-item p {
    margin-top: 5px;
    color: #FFFFFF;
    overflow-wrap: break-word;
}

/* footer */
#footer {
    text-align: center;
    padding-bottom: 3px;
    background-color: #080607;
}

.footer-line {
    width: 80%;
    align-items: center;
    border: #001AFF 3px solid;
}